@font-face {
    font-family: "fontNetflix";
    src: url('../src/assets/fonts/BebasNeue-Regular.ttf') format(truetype);
  }
header{
    width: 100%;
    height: 100px;
    background-color: #00000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1;

    & > .img-procura{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: auto;
        height: 100%;

         & > img{
            width: 300px;
            height: 100%;
            padding: 15px 5px;
            margin: 0 10px;
            color: var(--back1);
            font-size: 58px;
            font-family: "fontNetflix";
            filter: drop-shadow(0 0 5px rgb(0, 0, 0));
}
    }
    & > .janelas{
        width: 70%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;

        & > a{
            color: white;
            text-decoration: none;
            font-size: 20px;
            font-family: var(--font1);
            width: auto;
            background: #00800000;
            padding: 2px;
            transition: 250ms;
}
        & > a:hover{
            font-size: 22px;
            color: #ff4800;
}
        & > .procurar{
            width: 300px;
            height: 25px;
            border: none;
            border-radius: 10px;
            padding: 6px 10px 4px 10px;
            outline: none;
            color: white;
            font-size: 17px;
            background-color: #00000052;
            font-family: var(--font1);
            border: 1px solid white;
}
    }
}
@media screen and (max-width:300px){
    header{
        width: 100%;
        height: 10px;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0px 0px 10px black;
        position: fixed;
        z-index: 1;

        & > .img-procura{
            display: none;
        }
        & > .janelas{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            background:linear-gradient(170deg,black,var(--back2),var(--back1));
            & > a{
                font-size: 10px;
                padding: 2px;
    }
            & > a:hover{
                font-size: 12px;
    }
            & > .procurar{
               display: none;
    }
        }
    }
}