@font-face {
  font-family: fontNetflix;
  src: url('../src/assets/fonts/BebasNeue-Regular.eot');
}
:root{
  --back1:#fd5000;
  --back2:#1a1a1a;
  --color1:#aa3600;
  --font1:fontNetflix;
}
body{
  background-color: #2b2b2b;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}
