*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;

    & > .streaming{
        width: 100%;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #000000;
        box-shadow: -8px -15px 30px;
        margin: 100px 0;

        & > .logo-streaming{
            width: 100%;
            height: 300px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            overflow: hidden;

            & > img{
                width: 100px;
                filter: drop-shadow( inset 0 5px #000000);
                transition:500ms;
}
            & > img:hover{
                filter: drop-shadow(0 0 5px #ffffff);
                border-radius: 100%;
}
        }
    }
    & > .cine{
        width: 100%;
        height: auto;
        background-color: #000000;
        display: grid;
        grid-template-columns: repeat(6,auto);

        &>.filme{
            width: auto;
            height: 350px;
            margin: 10px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: column;
            transition: 500ms;
            font-size: 16px;
            background-color: #1b1b1b93;
            padding: 20px;
            border-radius: 5px;
            color: white;
            cursor: pointer;
            border: 2px solid transparent;
            &>img{
            width: 155px;
            height: 235px;
            object-fit: cover;
            }

        }
        &>.filme:hover{
            transform: scale(1.05);
            border: 2px solid #b80000;
        }

    }

}
