.sobre{
    display: flex;
    width: 100%;
    height: 100vh;
    text-align: left;
    background-color: #000000;
    
    & > .texto{
        margin: 100px auto;
        width: 80%;
        height: 80vh;
        padding: 50px;

        & > h1{
            color:#c20000;
            font-size: 40px;
            font-family: var(--font1);
        }
        & > p{
            font-size: 25px;
            width: 100%;
            padding: 10px;
            margin: 40px 0;
            color: white;
            font-family: var(--font1);
        }
    }
}